.advan {
    width: 100%;
    margin: 0 auto;
    background: url('../../images/indexAdvan.png') no-repeat center;
    background-size: cover;

    &__container {
        width: 100%;
        padding: 100px;
        background: #FFFFFF70;

        @media (max-width: 768px) {
            padding: 100px 40px;
        }
        @media (max-width: 480px) {
            padding: 60px 15px;
        }
    }

    &__title {
        margin: 0 0 80px;
        font-size: 30px;
        font-weight: 600;
        max-width: 64%;

        @media (max-width: 768px) {
            margin-bottom: 55px;
            max-width: 100%;
        }
        @media (max-width: 480px) {
            font-size: 25px;
            margin-bottom: 65px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px 20px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-gap: 40px;
        }
        @media (max-width: 480px) {
            grid-gap: 35px;
        }
    }

    &__item {
        display: flex;
        grid-gap: 45px;

        @media (max-width: 768px) {
            grid-gap: 40px;
        }
        @media (max-width: 480px) {
            grid-gap: 20px;
        }
        &_pic {
            width: 60px;
            height: 60px;
            object-fit: contain;

            @media (max-width: 480px) {
                width: 40px;
                height: 40px;
            }
        }

        &_desc {

            &_title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            &_pr {
                font-size: 16px;
                font-weight: 400;
            }

            &_list {
                display: grid;
                grid-gap: 5px;
                list-style: disc;
                padding-left: 20px;

                li {
                    font-size: 18px;
                    font-weight: 400;

                    @media (max-width: 480px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}