.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1090;
    width: 100%;
    background: #303030;
    padding: 19px 0 15px;

    @media (max-width: 768px) {
        max-width: 768px;

        .orderBtn {
            padding: 15px;
        }
    }

    @media (max-width: 480px) {
        .orderBtn {
            display: none;
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        z-index: 1070;
        width: 100%;
        height: 16px;
        background: #fff;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 100px;
        position: relative;
        z-index: 1090;

        @media (max-width: 768px) {
            padding: 0 39px;
        }

        @media (max-width: 480px) {
            padding: 0 20px;
        }
    }

    &__logo {
        display: block;
        width: 100%;
        max-width: 180px;

        &_img {
            width: 100%;
            margin-bottom: -43px;

            @media (max-width: 480px) {
                margin-bottom: -27px;
            }
        }

        @media (max-width: 480px) {
            max-width: 150px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        margin: 0 85px;

        @media (max-width: 768px) {
            display: none;
        }

        &_link {
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            transition: .2s;
            display: block;

            &::after {
                content: '';
                display: block;
                width: 100%;
                max-width: 0;
                height: 1px;
                background: #DF9D60;
                transition: .3s;
                margin-top: 10px;
            }

            &:hover::after {
                transition: .3s;
                max-width: 100%;
            }
        }
    }

    &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
        grid-gap: 30px;

        @media (max-width: 480px) {
            grid-gap: 20px;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        grid-gap: 15px;

        @media (max-width: 480px) {
            gap: 5px;
        }

        &_street,
        &_city {
            color: #fff;
            font-style: normal;
            font-size: 15px;
            font-weight: 400;

            @media (max-width: 480px) {
                font-size: 10px;
                color: #7E7E7E;
            }
        }
    }

    &__burger {
        position: relative;

        &_btn {
            display: grid;
            grid-gap: 12px;

            @media (max-width: 480px) {
                position: relative;
                z-index: 1080;
            }

            .txt {
                font-size: 15px;
                font-weight: 600;
                color: #fff;
                opacity: 1;
                transition: .2s;

                @media (max-width: 480px) {
                    display: none;
                }
            }

            .lines {
                display: grid;
                grid-gap: 8px;
                width: 100%;
                max-height: 19px;
                height: 19px;

                @media (max-width: 480px) {
                    width: 50px;
                    min-width: 50px;
                }

                .line {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    border-radius: 5px;
                    transition: .2s;
                }
            }

            &.active {
                .txt {
                    opacity: 0;
                    transition: .2s;
                }

                .remove {
                    opacity: 0;
                    transition: .2s;
                }

                .lines {
                    width: 70%;
                    max-height: 19px;

                    .line {
                        margin: 0 auto;
                    }

                    .line:nth-child(1) {
                        transition: .2s;
                        transform: rotateZ(45deg);
                        margin-top: -5px;

                        @media (max-width: 480px) {
                            margin-top: 10px;
                        }
                    }

                    .line:nth-child(3) {
                        transition: .2s;
                        transform: rotateZ(-45deg);
                        margin-top: -23px;

                        @media (max-width: 480px) {
                            margin-top: -17px;
                        }
                    }
                }
            }
        }

        &_content {
            min-width: 350px;
            right: 0;
            position: absolute;
            background: #303030E5;
            top: 67px;
            padding: 40px 60px;
            display: none;
            opacity: 0;
            transition: .2s;

            @media (max-width: 480px) {
                top: -25px;
                right: -20px;
                width: 375px;
                z-index: 1010;
            }

            &.active {
                display: block;
                opacity: 1;
                transition: .2s;
            }
        }

        .underline {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
            }
        }

        &_menu {
            display: grid;
            grid-gap: 20px;

            * {
                color: #fff;
            }

            hr {
                border-width: .3px;
            }

            &_link {
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                transition: .2s;

                &::after {
                    content: '';
                    display: block;
                    transition: .2s;
                    margin-top: 5px;
                    width: 100%;
                    max-width: 0;
                    height: 1px;
                    background: #BBCC68;
                }

                &:hover::after,
                &.active::after {
                    max-width: 100%;
                    transition: .2s;
                }
            }
        }

        &_submenu {
            display: grid;
            grid-gap: 20px;
            padding: 30px 0 30px 40px;

            &_link {
                display: block;
                transition: .2s;
                font-size: 16px;
                font-weight: 400;

                &:hover {
                    color: #BBCC68;
                    transition: .2s;
                    font-weight: 600;
                }
            }
        }
    }
}